/*
Författare: Leander Norberg
Projektnamn: Moment 5
Beskrivning: Slutprojekt utvecklat i samband med kursen 
Programmering i TypeScript (DT208G ) vid mittuniversitetet, VT2025 
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 1.1em;
}

h1 {
    font-family: 'Open Sans';
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: bolder;
}

h2 {
    font-family: 'Noto Serif';
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Open Sans';
    font-size: 1.1em;
    font-size: Bold; 
}

p {
    line-height: 1.7em;
}

button {
    font-family: 'Open Sans';
    font-size: 0.8em;
    background-color: gold;
    border-radius: 10px;
    border: none;
    white-space: nowrap;
    padding: 0.5em 1.5em;
}

button:hover {
    cursor: pointer;
    background-color: rgb(240, 204, 0);
}

.mainContent {
    max-width: 60vw;
    margin: 0 auto;
    padding: 5em 0;
}

#headerWrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 3em;
    max-width: 60vw;
    margin: 0 auto;
}

@media screen and (max-width: 1600px) {
    .mainContent, #headerWrapper {
        max-width: 75vw;
    }  
}

@media screen and (max-width: 1000px) {
    .mainContent {
        max-width: 80vw;
        padding: 1em 0; 
    }  

    #headerWrapper {
        max-width: 80vw;
    } 
}

@media screen and (max-width: 800px) {
    .mainContent {
        max-width: 90vw;
    }  

    #headerWrapper {
        max-width: 90vw;
    } 
}